@model IEnumerable<AZEEMCRUDWITHADO.Models.Employees>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Mobile</td>
            <td>Department</td>
        </tr>
        @foreach (var emp in Model)
	{
    <tr>
        <td>@emp.Id</td>
        <td>@emp.Name</td>
        <td>@emp.Email</td>
        <td>@emp.Gender</td>
        <td>@emp.Mobile</td>
        <td>@emp.DName</td>
    </tr>
	}

    </table>>
</div>
